body {
    font-family: "cofo-sans-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 400;
    background-color:#f0f0f0;
    overflow-y:hidden;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 5px;
    background-color:#f0f0f0;
    border-top: 1px solid black;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  
h1 {
    font-size:17px;
}

a {
    padding-left:10px;
    padding-right:10px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-selected {
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    text-align:center;
    border:1px solid black;
  }

  .dropdown-selected:hover {
    background-color:#d4d4d4;
  }
  
  .dropdown-list {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #000000;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    display: none;
    text-align:center;
    background-color:#f0f0f0;
  }

  .dropdown-list span {
    display: block;
    padding: 8px;
    cursor: pointer;
  }
  
  

button {
    font-family: "cofo-sans-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 400;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.firstDiv {
    font-family: "cofo-sans-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 400;
    background-color:white;
    border:none;
}

body.light-mode {
  color: black;
  background-color: white;
}

/* Dark mode styles */
body.dark-mode {
  color: white;
  background-color: black;
}

#toggleModeButton {
  position: fixed;
  left:5px;
}

button {
  border:none;
  border-radius:3px;
  font-family: "cofo-sans-variable", sans-serif;
  font-variation-settings: "slnt" ;
  font-size:14px;
}

button:hover {
  background-color:#d4d4d4;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start from completely transparent */
  }
  to {
    opacity: 1; /* End with fully visible */
  }
}

.bottom-bar.light-mode {
  background-color: #f0f0f0; /* Light mode background color */
  color: black; /* Light mode text color */
}

.bottom-bar.dark-mode {
  background-color: black; /* Dark mode background color */
  color: white; /* Dark mode text color */
}

/* Light mode button styles */
body.light-mode button {
  color: black; /* Button text color in light mode */
  background-color: white; /* Button background color in light mode */
  border: 1px solid black;
}

/* Dark mode button styles */
body.dark-mode button {
  color: white; /* Button text color in dark mode */
  background-color: black; /* Button background color in dark mode */
  border: 1px solid white;
}

/* Light mode dropdown selected styles */
body.light-mode .dropdown-selected {
  color: black; /* Text color of the selected item in light mode */
  background-color: white; /* Background color of the selected item in light mode */
  border:1px solid black;
}

/* Dark mode dropdown selected styles */
body.dark-mode .dropdown-selected {
  color: white; /* Text color of the selected item in dark mode */
  background-color: black; /* Background color of the selected item in dark mode */
  border:1px solid #f0f0f0;
}

.secondDiv {
  position:absolute;
}

body.light-mode .dropdown-list {
  color:black;
  background-color:white;
  border-radius:5px;
}


body.dark-mode .dropdown-list {
  color:white;
  background-color:black;
  border: 1px solid white;
  border-radius:5px;
}

body.light-mode a {
  text-decoration:none;
  color:black;
}

body.dark-mode a {
  text-decoration:none;
  color:white;
}

a {
  text-decoration:none;
  color:black;
}

.dropdown-list span:hover {
  background-color: #d4d4d4;
}

body.light-mode .dropdown-list span:hover {
  background-color: black;
  color:white;
}

body.dark-mode .dropdown-list span:hover {
  background-color: white;
  color:black;
}